.Entire-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.Entire-Container-profile-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px;
    padding: 10px;
    margin-top: 20px;
}

.profilePicture-profilePage{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* align-items: center; */
}
.userInformation-container{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-top: 20px;
cursor: default;

}
.user-name-bold{
    font-weight: bold;
}

.website-user{
    font-weight: bold;
    color:rgba(83, 206, 223, 0.993);
    transition-duration: 1s;
}
.website-user:hover{
    font-weight: bold;
    color:rgba(61, 118, 172, 0.993);
}
.user-name-p-tag{
    margin: 0px;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}
.user-name-a-tag{
    margin: 0px;
    font-family: sans-serif;
    font-size: 15px;

}
.posts-followers-following-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;


}
.followerButtonProfile{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-bottom: 100px; */
}

.username-container {
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}

/*
.Profile-Picture-Top{
    width: 190px;
    height: 190px;
    border-radius:50% 50% 50% 50%;
} */

.boldFont{
    /* display: inline-block; */
    font-weight: bold;
}
.profileInfoText{
    font-weight: none;
}
.text{
    font-family: sans-serif;
}
.textSizeProfile{
    font-size: 15px;
}
.Photos-Picture-Top {
    width: 8em;
    background-size: cover;
    background-position: 50% 25%;
    border-radius: 50%;
}

.Photos-Picture-Top::after {
    display: block;
    padding-top: 100%;
    content: ''
}
