.Entire-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.Entire-Container-profile-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px 5px;
    max-width: 550px;
    padding: 10px;
    margin-top: 20px;
}


.posts-followers-following-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;


}
.followerButtonProfile{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-bottom: 100px; */
}

.username-container {
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}

/*
.Profile-Picture-Top{
    width: 190px;
    height: 190px;
    border-radius:50% 50% 50% 50%;
} */

.boldFont{
    /* display: inline-block; */
    font-weight: bold;
}
.profileInfoText{
    font-weight: none;
}
.text{
    font-family: sans-serif;
}
.textSizeProfile{
    font-size: 15px;
}
.Photos-Picture-Top {
    width: 8em;
    background-size: cover;
    background-position: 50% 25%;
    border-radius: 50%;
}

.Photos-Picture-Top::after {
    display: block;
    padding-top: 100%;
    content: ''
}
