.commentLikeButton{
    width: 20px;

}
.commentLikeButton:active{
    width: 22px;

}
.commentLikeButton:hover{
cursor: pointer;
}

.CommentLikeButton{
    background-color: transparent;
    border: none;

}
