.sign-up-button {
    color: white;
    background-color: rgba(83, 206, 223, 0.993);
    border-radius: 5px 5px;
    padding: 8px 167px;
    border: 1px solid lightblue;
    transition-duration: 1.4s;
    margin-left: 5px;
}

.sign-up-button:hover {
    color: white;
    background-color: rgba(61, 118, 172, 0.993);
    cursor: pointer;

}

.signUP-div-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 100px;
border: 1px solid rgba(145, 142, 142, 0.74);
border-radius: 5px;
width: fit-content;


}

.error-display-container{

    border-radius: 5px 5px;
    padding: 10px;
    color: red;

}

.Entire-Div-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
