.picture-div{
    /* max-width: 566px;
    max-height: 1350px; */
    max-width: 400px;
    max-height: 400px;
}

.bullet-points-img{
    max-width: 30px;
}

.bullet-points-button{
    background-color: transparent;
    border: none;
}
.bullet-points-button:hover{
    cursor: pointer;
}

.post-title-edit-deleteform{

display: flex;
flex-direction: row;
justify-content: space-between;
}

.Edit-Delete-Photo-Container{
    display: flex;
    flex-direction: row;
}

.photo-container{
    border: solid 2px black;
    background-color: aqua;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.like-and-caption-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}
