.searchbar-box input {
    border-radius: 5px;
    border: 1px solid #46e1f8;
    width: 480px;
    height: 30px;
    margin-right: 5em;
}

.searchbar-box input:focus{
    background-color: white;
    border: 1px solid #4daff4;
    outline:none;
}

.search-results {
    width: 487px;
    max-height: 200px;
    overflow-x: hidden;
    position: absolute;
    z-index: 1;

    background-color: white;
}

.searchbar-box ul {
    padding: 0;
    background-color: white;
    position: sticky;
    z-index: 1;
    width: 487px;
}

.search-items-dropdown {
    padding: 5px;
    background-color: white;
    cursor: pointer;
    transition-duration: 1.3s;
}

.search-items-dropdown p {
    color:#4daff4;
    transition-duration: 1.3s;
}
.search-items-dropdown p:hover{
    color:white;
}

.search-items-dropdown:hover {
    background-color: #a048e4;
}


.img-testing{
    width:20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50% 50%;
    border: 1px rgb(0, 0, 0, .4) solid;
}

.search-result-container{
    display: flex;
    align-items: center;
}

.user-name-p-tag{
    color:#4daff4;
    transition-duration: 1.3s;
}
/* .user-name-p-tag:hover{
       color:white;
} */
