.input-values-container-profile-edit {
    display: flex;
    flex-direction: column;

}


.label-input-edit-profile-container {
    display: flex;
    margin-left: 10px;
    justify-content: flex-end;
    align-items: center;

}

.Edit-Profile-tag {
    font-family: sans-serif;
}
.Edit-Profile-tag-container{
     display: flex;
    justify-content: flex-start;
    align-items: center;

}
.ProfileEditDiv {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-values-profile {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;

}
.input-value-profile{
    /* margin-left: 10px;
    margin-bottom: 5px; */
    padding: 10px 15px;
    /* border-radius: 5px; */
    /* border: 1px solid black; */

}

.editProfileForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
}


.Submit-Button-EditForm {
    background-color: #dd81f5;
    border-radius: 5px 5px;
    padding: 5px 20px;
    transition-duration: 1.3s;
    color: white;
    font-family: sans-serif;
    border: 1px solid black;
}

.Submit-Button-EditForm:hover {

    background-color: #a048e4;
    cursor: pointer;


}

.label-profile-edit {
    font-family: sans-serif;

}

.edit-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.file-input-edit-container{
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.EditProfileFormErrorItem{
    font-family: sans-serif;
    margin: 0px;
}

.Error-Tag-{
    font-family: sans-serif;
    margin: 0;
}

.error-div-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
