.photos-profile-page{
width: 10em;

background-size: cover;
background-position: 50% 25%;
}
.photos-profile-page:hover{
    cursor: pointer;
}

.photos-profile-page::after{
display: block;
padding-top: 100%;
content: ''
}

.Entire-Photo-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
    border-radius: 5px 5px;
}

.ProfilePicturePhotos{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(49, 49, 49, 0.795);
}
