.navigationbar-Div {

    border-bottom: solid 1px rgba(90, 89, 89, 0.671);

}

.login {
    text-decoration: none;
    margin: 10px;
    background-color: #46e1f8;
    border: 1px solid white;
    border-radius: 5px 5px;
    padding: 5px 15px;
    transition-duration: 1.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
    color: white;
}

.login:hover {
    cursor: pointer;
    background-color: #4daff4;
    margin: 10px;

}


.sign-up {
    text-decoration: none;
    margin: 10px;
    background-color: #dd81f5;
    border: 1px solid white;
    border-radius: 5px 5px;
    padding: 5px 15px;
    transition-duration: 1.3s;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
}

.sign-up:hover {
    cursor: pointer;
    background-color: #a048e4;
    margin: 10px;

}

.users {
    text-decoration: none;

}


.logout {
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    transition-duration: 1.3s;
}

.logout:hover {
    cursor: pointer;
    text-decoration: underline;

}

.quickPicLogo-picture {
    max-width: 30px;
    transition-duration: 1s;
    border-radius: 5px 5px;

}
.quickPicLogo-picture:hover {
    box-shadow: 0px 0px 10px rgb(221, 129, 245);


}

.PhotoFormButton {
    background-color: transparent;
    border: none;
}

.quickPicTitle-picture {
    width: 140px
}

.photo-Form-logo {
    width: 30px;
    transition-duration: 1s;
    border-radius: 5px 5px;
}

.photo-Form-logo:hover {
    cursor: pointer;
    border-radius: 5px 5px;
    box-shadow: 0px 0px 10px rgb(221, 129, 245);

}



.entire-navBar-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-signup-container {
    display: flex;

}

.signedIn-user-nav-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.home-post-logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 49px;
}


.hide {
    display: none;
}

.show-PhotoForm-div:hover+.hide {
    display: block;
    justify-content: center;
    align-items: center;
    color: #4daff4;
}


.linkedInPicture {
    width: 30px;
    margin: 0px 2px;
    transition-duration: 1s;
    border-radius: 25%;


}

.linkedInPicture:hover {
    background-color:rgb(221, 129, 245);

}

.githubLogoPicture {
    margin: 0px 2px;
    width: 30px;
    transition-duration: 1s;
    border-radius: 25%;

}

.githubLogoPicture:hover {
    margin: 0px 2px;
    width: 30px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 10px rgb(221, 129, 245); */
    background-color:rgb(221, 129, 245);
}

.gitHubLinkNoUser, .LinkedInLinkNoUser{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;


}

.SearchBarDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
